/* Font Classes */

.lora-heading {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400, 600, 700;
  font-style: normal;
}

.roboto-body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400, 600, 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.25px;
  font-size: 1.8rem;
}

/* Styling for toggle */
.toggle-admin .toggle-resident {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

/* Styling for login */
.logo-logo {
  display: flex;
  justify-content: left;
}

.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 24px;
  width: 400px;
}

.form-input {
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: inset 1px 0px 8px rgba(215, 215, 215, 0.743);
}

.login-button {
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.login-button:hover {
  background-color: blue;
  transform: scale(1.02);
}

.login-note {
  color: #9ca3af;
  font-size: 13px;
  margin-top: 23px;
  width: 400px;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20vw;
  min-width: 200px;
  max-width: 350px;
  background-color: whitesmoke;
  backdrop-filter: blur(10px);
  z-index: 999;
}

.clock-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 10vh;
  min-height: 100px;
}

.current-time {
  font-family: Lora, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: rgb(78, 78, 78);
}

.current-date {
  font-size: 2rem;
  margin-top: -40px;
  color: orange;
  font-weight: 600;
}

.icon {
  font-size: 6rem;
  padding-top: 25px;
  color: orange;
}

.page-button {
  width: 200px;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 17px;
  border: none;
  background-color: orange;
  color: white;
}

.page-button:hover {
  background-color: blue;
}

.pages {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}