@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Classes */

.lora-heading {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400, 600, 700;
  font-style: normal;
}

.roboto-body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400, 600, 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.25px;
  font-size: 1.8rem;
}

/* Styling for toggle */
.toggle-admin .toggle-resident {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

/* Styling for login */
.logo-logo {
  display: flex;
  justify-content: left;
}

.form-group {
  margin-bottom: 24px;
  width: 400px;
}

.form-input {
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: inset 1px 0px 8px rgba(215, 215, 215, 0.743);
}

.login-button {
  font-size: 16px;
  width: 400px;
  border-radius: 5px;
  padding: 10px;
  background-color: #d5432d;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #2b3491;
  transform: scale(1.02);
}

.login-note {
  color: #9ca3af;
  font-size: 13px;
  margin-top: 23px;
  width: 400px;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 30rem;
  background-color: whitesmoke;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

/* @media screen and (max-width: 767px) {

  / start of phone styles /
  .navbar {
    width: 150px !important;
  }

  .clock-widget {
    gap: 0.3rem !important;
  }

  .current-date {
    font-size: 1rem !important;
  }

  .current-time {
    font-size: 3rem !important;
  }

  .icon {
    font-size: 6rem !important;
  }

  .page-button {
    width: 130px !important;
    font-size: 1.2rem !important;
  }
} */

.logo-button {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: white;
  background: orange;
}

.logo-button.active {
  background: linear-gradient(90deg, orange, rgb(191, 10, 191));
}

.logo-button p {
  display: inline;
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.logout-button:hover {
  background-color: #2b3491;
}

.clock-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1rem;
  gap: 1rem;
  margin-top: -2rem;
}

.current-time {
  font-family: Lora, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: rgb(78, 78, 78);
}

.current-date {
  font-size: 2rem;
  margin-top: -40px;
  color: #d5432d;
  font-weight: 600;
}

.icon {
  font-size: 7rem;
  padding-top: 25px;
  color: #d5432d;
}

.login-logo {
  width: 80%;
  object-fit: contain;
  margin: 0 auto;
}

.page-button {
  width: 200px;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 17px;
  border: none;
  background-color: #d5432d;
  color: white;
  transition: transform 0.3s ease-in-out;
}

.page-button:hover {
  background-color: #2b3491;
  transform: scale(1.03);
}

.logout {
  font-weight: 700;
  background: linear-gradient(10deg, #2b3491, #d5432d);
}

.table-header {
  background-color: #d5432d;
  text-align: center;
  border: 1px solid #2b3491 !important;
  border-top: 0 !important;
  padding: 20px;
  color: white;
}

.table-data {
  text-align: center;
  border: 1px solid;
  border-color: rgb(200, 200, 200);
  padding: 8px;
  font-size: 15px;
  font-weight: 600;
  width: 400px;
  color: black;
}

.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products-search {
  font-size: 20px;
  width: 30%;
  border-radius: 10px;
  border-color: #2b3491;
  height: 30px;
  padding: 10px;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Adjust based on your design */
  grid-gap: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.product-card {
  background-color: #fff;
  border: 0.5px solid orange;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 300px;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100px;
  height: 100px;
}

.request-button {
  background-color: #d5432d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  justify-self: right;
}

.request-button:hover {
  background-color: #2b3491;
}

.buttons-dist {
  display: flex;
  width: 400px;
  align-items: center;
  gap: 5px;
  justify-content: center;
  text-align: center;
  border: 1px solid #2b3491 !important;
  border-top: 0 !important;
  padding: 20px;
  color: white;
}

.approve-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  justify-self: right;
}

.reject-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  justify-self: right;
}

.add-product-button {
  background-color: #d5432d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-product-button:hover {
  background-color: #2b3491;
}

/*VoucherResident styles*/
.voucher-categories {
  display: flex;
  justify-content: space-around;
  margin-top: 6.5rem;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.category h1 {
  font-size: 3rem;
  text-align: center;
  color: #d5432d;
  margin-bottom: 2rem;
}

.item-card {
  border: 0.5px solid orange;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 15rem;
  width: 30rem;
  transition: transform 0.3s ease-in-out;
}

.item-card-name {
  display: inline;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.item-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75rem 1rem;
  border-radius: 10px;
  margin-top: -0.5rem;
}

.item-card button {
  background-color: #d5432d;
  font-size: 1.3rem;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.item-card button:hover {
  background-color: #2b3491;
  transform: scale(1.03);
}

.item-card input {
  width: 5rem;
  height: 2rem;
  text-align: center;
  font-size: 1.6rem;
}

.add-product-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(10deg, #2b3491, #d5432d);
  padding: 20px;
  border-radius: 8px;
  height: 700px;
  margin-top: 30px;
  margin-right: 20px;
}

.input-title {
  padding: 10px;
  font-size: 25px;
  margin-bottom: 10px;
  border-color: #9ca3af;
  border-radius: 10px;
}

.textarea-description {
  font-size: 25px;
  margin-bottom: 10px;
  border-color: #9ca3af;
  border-radius: 10px;
  height: 200px;
  width: 350px;
  padding: 10px;
  margin-bottom: 30px;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin: 10px 0;
  width: 20vw;
  border-radius: 5px;
  text-align: center;
}

.cancel-button {
  background-color: #d1d5db;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.continue-button {
  background-color: #d5432d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.continue-button:hover {
  background-color: #2b3491;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.upload-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
}

.upload-section {
  display: flex;
  flex-direction: column;
}

.upload-image-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-color: #9ca3af;
  border-radius: 10px;
  margin-bottom: 20px;
}

.upload-button {
  background-color: #f3f4f6;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.hidden-input {
  display: none;
}

.image-preview-wrapper {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.preview-image {
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 8px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
}

.delete-button:hover {
  background-color: darkred;
}

.close-button {
  display: flex;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 8px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
  justify-self: flex-end;
}

.close-button:hover {
  background-color: darkred;
}

.summary-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-size: 23px;
  margin-bottom: 20px;
  height: 100%;
}

.add-user-button {
  background-color: #d5432d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

.add-user-button:hover {
  background-color: #2b3491;
}

.search-user-button {
  background-color: #d5432d;
  color: white;
  padding: 10px 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cancel-button {
  background-color: red;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.continue-button {
  background-color: green;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.manage-button {
  background-color: #d5432d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.manage-button:hover {
  background-color: #2b3491;
}

/*Item Cart Styles*/
.cart-topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 30rem);
  margin-left: 30rem;
  height: 5rem;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.cart-topbar button {
  background-color: #d5432d;
  color: white;
  padding: 0.25rem 1rem;
  margin: 1rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 1.6rem;
}

.close-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 8px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
  justify-content: flex-end;
}
.item-cart-container {
  background-color: gray;
  width: calc(100% - 30rem);
  height: 100vh;
  margin-left: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-cart {
  background-color: white;
  border: 0.5px solid #d5432d;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 95vh;
  width: 90%;
}

.item-cart h1 {
  font-size: 3rem;
  color: #d5432d;
  margin-bottom: 2rem;
}

.item-cart-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.item-cart-buttons button {
  background-color: #d5432d;
  color: white;
  padding: 0.25rem 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
}

.item-cart p {
  text-align: center;
}

.item-cart-items {
  padding: 2rem;
  max-height: calc(100% - 3rem);
  overflow-y: auto;
}

.item-cart-item {
  border-radius: 10px;
  border: 0.5px solid #d5432d;
  padding: 1rem;
  margin-bottom: 1rem;
}

.item-cart-item h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.item-cart-item input {
  width: 5rem;
  height: 2rem;
  font-size: 1.6rem;
}

.item-cart-item:last-of-type {
  margin-bottom: 0;
}
